
*{
    margin: 0px;
    padding: 0px;
}

body{ 
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header{
    /*fazendo um degradê*/
    background-image: linear-gradient(to bottom, lightblue , blue, darkblue);
    min-height: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    padding-top: 40px;
}


header > h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 10px black;
}

header > p{
    text-shadow: 2px 2px 2px black;
}

nav{
    background-color: darkblue;
    padding: 15px;
    box-shadow: 0px 7px 7px black;
}

nav > a{
    color: white;
    padding: 10px; /*separa os menus*/
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    border-radius: 3px;

}

main{
    padding: 20px; /*afastar da borda*/
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px; /*borda arredondada*/
    border-bottom-right-radius: 10px;
}

main h1{
    color:darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;  
}

main h2{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-image: linear-gradient(to right, lightblue, white);
    text-indent: 8px;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main a{
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

div.video{
    background-color: darkblue;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: lightblue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;

}

aside > h3{
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\1F5F8\00A0\00A0';
    /*00A0 coloca um espaço depois do marcador. É o parâmetro &nbsp (non-breaking space)*/
    list-style-position: inside;
    columns: 2;

}

footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
}